---
import AboutHeroImage from '../assets/Aura_Farm_F.jpg';
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="It's an about me..."
	pubDate={new Date('January 01 2026')}
	heroImage={AboutHeroImage}
	tabTitle="The Bi-Weekly Bugle"
>
	<p>
		Hi, I'm Stanley Chiu. Most of you probably know who I am; I'd be very surprised if someone just
		happened to have stumbled upon this little project by chance. If you have no clue what the hell I'm
		talking about, I guess that's what this is for. In short, to quote one of my best friends, I'm a person
		that does people things. If you needed a tldr though, what are you doing here...
	</p>

	<p>
		To be fully transparent, I have no idea how to start this. I'm no Harvard psychologist, Yale physicist,
		or Princeton economist—I'm a senior in high school going to Baruch. By every metric I'm a nobody; yet,
		I imagine you'll find yourself enjoying your time here. Yeah, I can't give you some profound insight into
		the human condition, but I can sure try. Even in my inevitable failure, at least it'll be an entertaining
		read. If I can promise you one thing, it's that I'll keep it real—at least until my check from the big
		Yahu comes in.

	<p>
		I've still yet to answer the fundamental question: why care? I'm no Marcus Aurelius; this is no
		“Meditations,” though getting through high school is somewhat equivalent to being the emperor of Rome.
		The analogy might have been stupid, yeah, but therein lies what I'm getting at here: our experiences shape
		who we are. Much of the stoic philosophy in those writings was the direct result of his day-to-day running
		of the empire; in the same vein, much of these posts are reflections of the shit I go through daily. Yeah,
		it's not much, but don't you get tired hearing from old, dead guys—what can they possibly know about Skibbi Toilet?
	</p>

	<p>
		My life is relatively unspectacular; I would rather waste away in my room than get wasted, but I think
		that's what makes this whole thing so special. I'm no one special, sure, but I'm at an interesting time in
		my life, and I have the ability to put the sheer stupidity of it all into words. I'm one rat in a long race,
		surrounded by stupid rats that think they're smart-hell, maybe I'm one of them. Who knows though, maybe I'll have
		something insightful to say—a broken clock is right twice a day, after all. To wrap this up, I wanted to put in a
		friend's quote from a while back—I think it's worth answering. It goes something like this:
	</p>

	<p>
		"The real question is why do you have to question everything? Can't you live content just existing, exploring
		the things that have definite answers?”
		- Madj
	</p>
</Layout>
